<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>LibertyAI</title>
    <link rel="stylesheet" type="text/css" href="/static//bulma.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body class="has-background-dark">
    <section class="hero is-primary is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('index') }}" class="navbar-item">Home</a>
                            <a href="{{ url_for('profile') }}" class="navbar-item">Profile</a>
                            <a href="{{ url_for('login') }}" class="navbar-item">Login</a>
                            <a href="{{ url_for('signup') }}" class="navbar-item">Sign Up</a>
                            <a href="{{ url_for('logout') }}" class="navbar-item">Logout</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>
