<html class="dark" style="color-scheme: dark;">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>LibertyAI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tailwind.css') }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <div class="overflow-hidden w-full h-full relative">
        <div class="flex h-full flex-1 flex-col md:pl-[260px]">
            <header class="sticky-top">
                <div class="inner">
                    <h3 class="masthead-brand">
                        <img class="masthead-brand-logo" src="{{ url_for('static', filename='logo.png') }}"/>
                    </h3>
                    <nav class="nav nav-masthead justify-content-right">
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('chatbot') }}" class="nav-link">Chatbot</a>
                            <a href="{{ url_for('voicechat') }}" class="nav-link">Voice chat</a>
                            <a href="{{ url_for('profile') }}" class="nav-link">Profile</a>
                            <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
                        {% else %}
                            <a href="{{ url_for('login') }}" class="nav-link">Login</a>
                            <a href="{{ url_for('signup') }}" class="nav-link">Sign Up</a>
                        {% endif %}                    
                    </nav>
                </div>
            </header>
            <main class="h-full w-full transition-width flex flex-col overflow-hidden items-stretch flex-1">
               {% block content %}
               {% endblock %}
            </main>
            <footer class="sticky-bottom">
                <p>Give me Liberty or give me death - Patrick Henry, 1775</p>
            </footer>
        </div>
    </div>
</body>

</html>
