{% extends "base.html" %}

{% block content %}
  
<h1>LibertyAI</h1>
<div id="chatbox">
<p class="botText"><span>LibertyAI:<br/>I'm LibertyAI.<br/>I'm just like ChatGPT, only that I'm not woke.</span></p>
</div>
<div id="userInput">
<textarea id="textInput" type="text" name="msg" placeholder="Message" rows="10"></textarea>
<input id="buttonInput" type="submit" value="Send">
</div>
<script>
function getBotResponse() {
  var rawText = $("#textInput").val();
  var userHtml = '<p class="userText"><span>Human:<br/>' + rawText.split("\n").join("<br/>") + '</span></p>';
  $("#textInput").val("");
  $("#chatbox").append(userHtml);
  document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
  var newp = document.createElement("p");
  newp.className = "botText blinkyBotText";
  var newsp = document.createElement("span")
  newsp.setHTML("LibertyAI:");
  newp.append(newsp);
  $("#chatbox").append(newp);
  $.get("/chatbot/get", { msg: rawText }).done(function(data) {
    newsp.setHTML("LibertyAI:<br/>"+data.split("\n").join("<br/>"));
    newp.className = "botText";
    document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
  });
}
$("#textInput").keypress(function(e) {
    if(e.keyCode == 13 && e.shiftKey) {
        getBotResponse();
    }
});
$("#buttonInput").click(function() {
  getBotResponse();
})
</script>


{% endblock %}
