{% extends "base.html" %}

{% block content %}

<div class="flex-1 overflow-auto">
    <div id="chatbox" class="p-3 items-center dark:bg-gray-800 overflow-auto">
    </div>
</div>

<div class="relative bottom-1 left-0 w-full border-t md:border-t-0 dark:border-white/20 md:border-transparent md:dark:border-transparent dark dark:bg-gray-800 pt-2">
    <div class="flex flex-col w-full py-2 flex-grow md:py-3 md:pl-4 relative border border-black/10 dark:bg-gray-700 dark:border-gray-900/50 dark:text-white dark:bg-gray-700 rounded-md">
        <textarea id="textInput" rows="1" class="m-0 w-full resize-none border-0 bg-transparent p-0 pr-7 focus:ring-0 focus-visible:ring-0 dark:bg-transparent pl-2 md:pl-0" style="max-height: 200px; height: 24px; overflow-y: hidden;" ></textarea>
        <button id="buttonInput" class="absolute p-1 rounded-md text-gray-500 bottom-1.5 md:bottom-2.5 hover:bg-gray-100 dark:hover:text-gray-400 right-1 md:right-2">
            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4 mr-1" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <line x1="22" y1="2" x2="11" y2="13"></line>
                <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
            </svg>
        </button>
    </div>
</div>

<script src="{{ url_for('static', filename='chatbot.js') }}"></script>
<script>
startTypeWriterJob();
function getBotResponse() {
    var rawText = $("#textInput").val().split("\n").join("<br/>");
    $("#textInput").val("");

    var chatWorkObject = getChatWorkObject();
    var newField = getChatDiv(
        chatWorkObject,
        "dark:bg-gray-800",
        "{{ url_for('static', filename='default_human.png') }}"
    );
    $("#chatbox").append(newField);

    chatWorkObject.innerHTML = rawText;
    var chatBotWorkObject = getChatWorkObject();
    var newChatBotField = getChatDiv(
        chatBotWorkObject,
        "bg-gray-50 dark:bg-[#444654]",
        "{{ url_for('static', filename='avatar.png') }}"
    );
    $("#chatbox").append(newChatBotField);
    setCurrentWorkObject(chatBotWorkObject);
    $.get("/chatbot/start_generation", { msg: rawText }).done( function(data) {
        const retrievalWorker = new Worker("{{ url_for('static', filename='retrievalWorker.js') }}");
        retrievalWorker.addEventListener("message", function handleMessageFromWorker(text) {
            addToTypeWriterQueue(text.data);
        });
        retrievalWorker.postMessage({hash: data});
    });
}

document.getElementById('textInput').addEventListener('keydown', function (e) {
    const keyCode = e.which || e.keyCode;
    if (keyCode === 13 && !e.shiftKey) {
        e.preventDefault();
        getBotResponse();
        this.style.height = 0;
        this.style.height = (this.scrollHeight) + "px";
    }
});

document.getElementById('textInput').addEventListener('input', function () {
    this.style.height = 0;
    this.style.height = (this.scrollHeight) + "px";
});

$("#buttonInput").click(function() {
      getBotResponse();
})

</script>

{% endblock %}
