{% extends "base.html" %}

{% block content %}

<div class="col-md-12" id="colorDiv">
    <div class="col-md-8" id="innerDiv">
        <br/>
        <div class="page-header">
            <h3 class="title">Login</h3>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}. Go to <a href="{{ url_for('login') }}">login page</a>.
                </div>
            {% endif %}
        {% endwith %}
        <!--<form method="POST" action="/login">-->
        <form>
            <div class="form-group">
                <label for="email">Your Email</label>
                <input class="form-control" type="email" name="email" placeholder="Your Email" autofocus="">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" placeholder="Your Password">
            </div>
            <div class="form-group">
                <label class="checkbox">
                <input type="checkbox" name="remember">Remember me</label>
            </div>
        </form>
        <!--<button id="submitBtn">Login</button>-->
    </div>
</div>

{% endblock %}
