{% extends "base.html" %}

{% block content %}

<div class="col-md-10 justify-content-md-center align-items-md-center">
    <div class="justify-content-md-center align-items-md-center" id="voicebox">
        <div id="player"><canvas id="canvas"></canvas></div>
        <!--<div id="info"></div>-->
    </div>
    <br/>
    <div class="justify-content-md-center align-items-md-center h-[80px] w-[80px]" id="recorder">
        <button id="recordAudio" class="p1" >
            <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="60px" class="h-8 w-8 mr-1" fill="currentColor" class="bi bi-mic" viewBox="0 0 16 16">
                <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
                <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0v5zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z"/>
                </svg>
        </button>
    </div>
</div>

<script type="text/javascript" src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='codepen.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='voicechat.js') }}"></script>

{% endblock %}
